/*=================================================
=============| G L O B A L |=======================
=================================================*/

:root {
    --shadowH2 : rgb(90, 1, 255) 0px 0px 5px, rgb(90, 1, 255) 0px 0px 10px, rgb(90, 1, 255) 0px 0px 15px,
    #4c00ff 0px 0px 20px, #4c00ff 0px 0px 30px, #4c00ff 0px 0px 40px, 2px 2px 2px rgba(206,89,55,0); 
    --shadowH1 : rgb(194, 0, 184) 0px 0px 5px, rgb(194, 0, 184) 0px 0px 10px, rgb(194, 0, 184) 0px 0px 15px,
    #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px,
    #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px; 
  }
  
  
  * {
    box-sizing: border-box;
  
  }
  
  body {
    background: black;
    font-family: 'Lato', sans-serif;
    color: blueviolet;
    min-width: 375px;
  }
  
  label { 
    margin-right: 10px; 
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    text-transform: uppercase;
  }

  /*=================================================
=============| T H E  C U B E |====================
=================================================*/


.game .the_dice
.game_dice_cont .game_dice {
  width: 100px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  perspective:300px;
}

.cube {
  width:100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(195, 0, 255, 0.493);
  border-radius: 5px;
  line-height: 100px;
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face .face_pic {
  width: 100%;
  height: auto;
  vertical-align: initial;
}
  
.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_1,
.cube_face_2, .cube_face_3, .cube_face_4,
.cube_face_5, .cube_face_6 { 
  background: none;  
  opacity: 0.95;
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_1 {
  transform: rotateY(  0deg) translateZ(50px); 
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_2 {
  transform: rotateY(180deg) translateZ(50px); 
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_3 {
  transform: rotateY( 90deg) translateZ(50px); 
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_4 {
  transform: rotateY(-90deg) translateZ(50px); 
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_5 {
  transform: rotateX( 90deg) translateZ(50px); 
}

.game .the_dice .game_dice_cont
.game_dice .cube .cube_face_6 {
  transform: rotateX(-90deg) translateZ(50px); 
}

      /*___--- CLASS JS ---___*/

.cube.show-1 { transform: translateZ(-50px) rotateY(   0deg); }
.cube.show-2 { transform: translateZ(-50px) rotateY(-180deg); }
.cube.show-3 { transform: translateZ(-50px) rotateY( -90deg); }
.cube.show-4 { transform: translateZ(-50px) rotateY(  90deg); }
.cube.show-5 { transform: translateZ(-50px) rotateX( -90deg); }
.cube.show-6 { transform: translateZ(-50px) rotateX(  90deg); } 